html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26,25px;
  font-weight: 400px;
  background: #EEEFF1;
  margin: 0;
  padding: 0;
}
html, body{
  box-sizing: border-box;
  
}
.header{           
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 57px;
  height: 60px;
  text-transform: uppercase;
  
  
}
.header .conteiner{
  display: flex;
  align-items: center;
}
.header .nav ul a{
  text-decoration: none;
  letter-spacing: 0.1em;
  color: black;
}
.header .nav ul a:hover{
  opacity: 0.6;
  color: #34547a;
}
.logo-header{ /*контеинер логотипа*/
  float: left;
  padding-left: 40px;
  margin-right: 398px;
}
.header .nav a{ /*ссылки*/
  display: inline-block;
  margin-right: 42px;
  color: black;
}
.content{
  margin-top: 140px;     
}
.content .conteiner{
  
  width: 100%;
  height: 300px;
}
.foto-comp{ 
  float: left;
  margin-left: 96px;
}

.about{
  height: 100%;
  width: 540px;
  margin-left: 250px; 
  margin-top: 0px;
}
.content .about h1{
  margin-top: -30px;
  margin-bottom: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}
.content .about p{
font-size: 16px;
line-height: 26px;
margin-bottom: 60px;
}
.btn{
  display: block;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align:left;
  color: #6b1919;  
}
.about-me{
  text-align: center;
  margin: 265px auto;
  width: 540px;    
}
.project{
  background: #34547A;
  
}
.project1 a{
  display: inline-block;
  margin-right: 50px;
}
.project .project1{
  display: flex;
  align-items: center;
  padding: 100px auto;
}
.project1 ul a img{
  width: 140px;
  height: 50px;
}