html,
body {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.hero {
  height: 100vh;
  background: #eeeff1;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 55px;
  height: 115px;
}
.container {
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
.logo-container {
  height: 60px;
  width: 96px;

  float: left;
}
.logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.menu {
  float: right;
}
header nav li {
  display: inline-block;
  margin-right: 22px;
}
header nav li a {
  text-decoration: none;
  line-height: 60px;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 0 10px;
}

header nav li a:hover {
  opacity: 0.6;
  color: #34547a;
}
.menu li:last-child {
  margin-right: 0;
}
.hero {
  padding-top: 115px;
}
.hero .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
